/*body, html{
  height: 100%;
}

.card{
  min-height: 100%;
  position: relative;
}

div.card{
  padding-top: 20px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

footer{
  padding-top: 20px;
  width: 100%;
  height: 100px;    
  text-align: left;
  background-color:#fff8dc;
} */