body{
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

h2{
    text-align: center;
    font-family: 'Roboto';
}

.card{
    min-height: 100%;
    position: relative;
}

/*Faz a table dentro do card*/
div.card{
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: 0px;
}

/*Nabbar---------------------------------------*/
#navbar img {
    padding-left: 10px;
    width: 170px;
    height: 42px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 20px;
    font-family: 'Roboto';
    color: #757575;
}

#navbar a:hover {
    color: #507ac9;
}
/*Fim Nabbar---------------------------------------*/

/*Footer---------------------------------------*/
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer p {
    margin-bottom: 0;
}
/*Fim Footer---------------------------------------*/
  